@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    letter-spacing: 1.04px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

body {
    width: 100%;
    height: 1000px;
    background-color: rgba(67, 87, 97, .04);
    font-family: 'Open Sans', sans-serif;
}

.page-wrapper {
    display: block;
    margin: 10px auto;
    padding: 0 5px;
    max-width: 900px;
}

nav {
    text-align: center;
    margin-bottom: 50px;
}

nav h1 a {
    font-size: 42px;
    color: #435761;
}

nav h4 {
    margin: 10px auto;
    max-width: 320px;
    font-size: 18px;
    color: #767676;
}

nav span {
    display: block;
    margin: 15px auto;
    font-size: 15px;
    color: #767676;
}

/* -----SVG Icons - svgicons.sparkk.fr----- */
.svg-icon {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #767676;
}

.svg-icon circle {
    stroke: #767676;
    stroke-width: 1;
}

/* -----SVG Icons - svgicons.sparkk.fr----- */
section {
    display: block;
    text-align: center;
}

section .scroll-down-to-see {
    color: #595959;
    margin: 40px auto;
}

/* Buttons */
.wrapButtons {
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.wrapButtons a svg {
    width: 18px;
    margin-right: 10px;
    top: 0;
}


.wrapButtons a {
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-right: 20px;
    padding: 5px 10px;
    font-size: 20px;
    height: 40px;
    font-weight: 500;
    color: #fff;
    background-color: #435761;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .2s ease-out;
}


.wrapButtons a:focus,
.wrapButtons a:hover,
.wrapButtons a:active {
    background-color: #50bcb6;
    transform: translateY(1px);
}


.github-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    border-radius: 4px;
    padding: 12px 10px;
    font-size: 20px;
    width: 300px;
    color: #fff;
    background-color: #435761;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .2s ease-out;
}

.github-button svg {
    width: 22px;
    margin-right: 10px;
}

.github-button:focus,
.github-button:hover,
.github-button:active {
    background-color: #50bcb6;
    transform: translateY(1px);
}

/* Buttons */

.content {
    display: inline-block;
    max-width: 300px;
    height: 800px;
    max-height: 200px;
    font-size: 17px;
    color: #595959;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    padding: 4px 8px;
    overflow: auto;
    text-align: left;
}

.content h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.content3,
.content4 {
    display: block;
    margin: 40px auto;
    max-width: 600px;
    height: 2000px;
}


.arrow-down {
    animation: down 1s linear infinite;
    fill: #435761;
    position: fixed;
    bottom: 25px;
    left: 50%;
    margin-left: -25px;
    z-index: 999;
}

@keyframes down {
    50% {
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -o-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }
}

footer {
    text-align: center;
    font-size: 15px;
    color: #767676;
    margin: 20px auto;
}

footer a {
    margin: 0 auto;
    color: #595959;
    transition: all .2s ease-out;
}

footer a:hover {
    color: #333;
}